<!-- [@slideContent]="menuState" -->

<div [ngClass]="{'show-outlines': showOutlines, 'guide-border': showGuide}" [ngStyle]="{'width.px': resolutionWidth}" class="nga-fast">
	<app-header (openPanel)="openPanel($event)"></app-header>
	<router-outlet></router-outlet>
</div>


<app-footer [ngClass]="{'footer-panel-open': menuState=='opened', 'guide-border': showGuide}" [ngStyle]="{'width.px': resolutionWidth}" class="nga-fast"></app-footer>

<app-panel [@slidePanel]="menuState" (closePanel)="closePanel($event)" (toggleOutlines)="toggleOutlines($event)" (changeResolution)="changeResolution($event)"></app-panel>