/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

// Theme customization
@import "theme/theme";

@import "~@swimlane/ngx-ui/release/index.css";


.ngx-dnd-container,
.show-outlines .root-container .ngx-dnd-container {
  border: none;
  padding: 0;
  margin: 0;
}

.show-outlines .ngx-dnd-container {
  border: solid 3px fuschia;
  padding: 10px;
  margin: 10px;
}

.ngx-dnd-container.gu-empty {
	border: dashed 3px fuschia;
}

.root-container > .ngx-dnd-container.gu-empty {
  min-height: 100px;
  border: dashed 3px fuschia;
}


.show-outlines .root-container .ngx-dnd-container.gu-empty {
  border: dashed 3px fuschia;
}