<div class="btn-group tool-bar" ngbDropdown (window:resize)="onResize($event)">
	<button (click)="hidePanel($event)" ngbTooltip="Hide Panel" placement="left"><i class="fa fa-arrow-right"></i></button>
	<button (click)="undo($event)" ngbTooltip="Undo" placement="bottom"><i class="fa fa-undo"></i></button>
	<button (click)="redo($event)" ngbTooltip="Redo" placement="bottom"><i class="fa fa-repeat"></i></button>
	<button (click)="save($event)" ngbTooltip="Publish" placement="bottom"><i class="fa fa-save"></i></button>
	<button (click)="zoomIn($event)" ngbTooltip="Zoom" placement="bottom"><i class="fa fa-search-plus"></i></button>
	<button (click)="zoomOut($event)" ngbTooltip="Zoom" placement="bottom"><i class="fa fa-search-minus"></i></button>
	<button (click)="showHideOutlines($event)" ngbTooltip="Outlines" placement="bottom"><i class="mdi mdi-select-all"></i></button>

	<button ngbDropdownToggle class="last" ngbTooltip="Screen Size" placement="left"><i class="fa fa-desktop"></i></button>
	<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
		<button class="dropdown-item" *ngFor="let r of resolutions" (click)="setResolution(r)">
			<mgx-icon icon="{{r[c['FontAwesomeIcon'].sid][c['ClassName'].sid]}}"></mgx-icon>
			{{ r[c['Label'].sid ] }}
		</button>
	</div>
</div>


<ngb-tabset>

  <ngb-tab>
  	<ng-template ngbTabTitle><i class="fa fa-files-o" ngbTooltip="Pages" placement="bottom"></i></ng-template>
    <ng-template ngbTabContent>




		<button (click)="newCollection()" class="pull-right mr-2 mt-2 btn btn-default btn-sm" ngbTooltip="New Data" placement="left"><i class="fa fa-fw fa-plus"></i></button>
		
		<h3 class="tabtitle"><a href="#"><mgx-icon icon="fa-files-o"></mgx-icon>Pages</a></h3>




		<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0, ngb-panel-1" [ngStyle]="{'height.px': (windowHeight - 133), 'overflow': 'auto'}">

			<ngb-panel class="navigation-panel">
				<ng-template ngbPanelTitle>
					<mgx-icon icon="fa-sitemap"></mgx-icon>Navigation
				</ng-template>
				<ng-template ngbPanelContent>

					<ngx-dnd-container
					class="navigation-panel root-container"
					[model]="navigation"
					dropZone="navigationTree">
						<ng-template let-item="model">
							<ng-container>
								<div class="ngx-dnd-content">

									<span class="pull-right mr-1">
										<a href="#" ngbTooltip="Remove" placement="left"><i class="fa fa-times"></i></a>
									</span>

									<mgx-icon icon="{{item.icon}}"></mgx-icon>{{item.label}}</div>
								<!--ngx-dnd-container
									[model]="model.children"
									[template]="container.template"
									[removeOnSpill]="removeOnSpill">
								</ngx-dnd-container -->
							</ng-container>
						</ng-template>
					</ngx-dnd-container>

				</ng-template>
			</ngb-panel>

			<ngb-panel>
			    <ng-template ngbPanelTitle>
			    	<mgx-icon icon="fa-files-o"></mgx-icon>Pages
			    </ng-template>
			    <ng-template ngbPanelContent>
			    	<ngx-dnd-container
						class="pages-panel root-container"
						[model]="templates"
						[dropZones]="['navigationTree']"
						[copy]="true"
						[droppableItemClass]="droppableItemClass"
						(drag)="builderDrag($event)">					
						<ng-template let-item="model">
							<span class="pull-right mr-1">
								<a href="#" class="mr-2" ngbTooltip="Settings" placement="left"><i class="fa fa-gear"></i></a>
								<a href="#" ngbTooltip="Remove" placement="left"><i class="fa fa-trash"></i></a>
							</span>
							<mgx-icon icon="{{item.icon}}"></mgx-icon>{{item.label}}
						</ng-template>
					</ngx-dnd-container>
			    </ng-template>
			  </ngb-panel>
		</ngb-accordion>







    </ng-template>
  </ngb-tab>

  <ngb-tab>
  	<ng-template ngbTabTitle><i class="fa fa-cubes" ngbTooltip="Components" placement="bottom"></i></ng-template>
    <ng-template ngbTabContent>

 


		<button (click)="newComponent()" class="pull-right mr-2 mt-2 btn btn-default btn-sm" ngbTooltip="New Component" placement="left"><i class="fa fa-fw fa-plus"></i></button>
		
		<h3 class="tabtitle"><a href="#"><mgx-icon icon="fa-cubes"></mgx-icon>Components</a></h3>

		<div [ngStyle]="{'height.px': (windowHeight - 133), 'overflow': 'auto'}">

			<ngb-accordion #acc="ngbAccordion"> 
			  <ngb-panel *ngFor="let componentGroup of componentGroups">
			    <ng-template ngbPanelTitle>
			    	<mgx-icon icon="{{componentGroup[c['FontAwesomeIcon'].sid][c['ClassName'].sid]}}"></mgx-icon>{{ componentGroup[c['Label'].sid ] }}
			    </ng-template>
			    <ng-template ngbPanelContent>


			    	<ul class="list-unstyled">
			    		<li *ngFor="let component of components">

	                    	<a href="#" ngbTooltip="Settings" placement="left" class="showOnHover pull-right"><i class="fa fa-gear"></i></a>

			    			<a href="#">
								<mgx-icon icon="{{component[c['FontAwesomeIcon'].sid][c['ClassName'].sid]}}"></mgx-icon>{{ component[c['Label'].sid ] }}
							</a>

			    		</li>
			    	</ul>

			    </ng-template>
			  </ngb-panel>
			</ngb-accordion>

			<ngx-dnd-container
				class="root-container"
				[model]="navigation"
				[dropZones]="['builder-target']"
				[copy]="true"
				[droppableItemClass]="droppableItemClass"
				(drag)="builderDrag($event)">

				<ng-template let-item="model">
				  <ngx-icon [fontIcon]="item.icon"></ngx-icon>
				  {{item.label}}
				</ng-template>
			</ngx-dnd-container>

		</div>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
  	<ng-template ngbTabTitle><i class="fa fa-database" ngbTooltip="Data" placement="bottom"></i></ng-template>
    <ng-template ngbTabContent>




		<button (click)="newCollection()" class="pull-right mr-2 mt-2 btn btn-default btn-sm" ngbTooltip="New Data" placement="left"><i class="fa fa-fw fa-plus"></i></button>
		
		<h3 class="tabtitle"><a href="#"><mgx-icon icon="fa-database"></mgx-icon>Data</a></h3>


		<ngb-accordion #acc="ngbAccordion" [ngStyle]="{'height.px': (windowHeight - 133), 'overflow': 'auto'}"> <!--  activeIds="ngb-panel-0" -->
		  <ngb-panel *ngFor="let collectionGroup of collectionGroups">
		    <ng-template ngbPanelTitle>
		    	<mgx-icon icon="{{collectionGroup[c['FontAwesomeIcon'].sid][c['ClassName'].sid]}}"></mgx-icon>
				{{ collectionGroup[c['Label'].sid ] }}
		    </ng-template>
		    <ng-template ngbPanelContent>
		    	<ul class="list-unstyled">
		    		<li *ngFor="let collection of collections">

                    	<a href="#" ngbTooltip="Settings" placement="left" class="showOnHover pull-right"><i class="fa fa-gear"></i></a>

		    			<a href="#">
							<mgx-icon *ngIf="collection[c['FontAwesomeIcon'].sid]" icon="{{collection[c['FontAwesomeIcon'].sid][c['ClassName'].sid]}}"></mgx-icon>{{ collection[c['Label'].sid ] }}
						</a>
		    		</li>
		    	</ul>
		    </ng-template>
		  </ngb-panel>
		</ngb-accordion>





    </ng-template>
  </ngb-tab>
  <ngb-tab>
  	<ng-template ngbTabTitle><i class="fa fa-eye" ngbTooltip="Options" placement="bottom"></i></ng-template>
    <ng-template ngbTabContent>
		
		<h3 class="tabtitle"><a href="#"><mgx-icon icon="fa-eye"></mgx-icon>Options</a></h3>

		<div [ngStyle]="{'height.px': (windowHeight - 133), 'overflow': 'auto'}">

			
		</div>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
